@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Teko, sans-serif;
    font-weight: 300;
    color: #2e2e2e;
}
/* headings and logo */

h1, h2 {
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #141414;
}

#logo {
    float: inline-end;
    font-size: 300%;
   }

   a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
  

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 8px;
}

#menu, #logo {
    line-height: 50px;
}

#menu li {
    float: left;
    margin-right: 100px;
    display: inline;
    padding: 0 1em;
}

#menu a {
    text-decoration: none;
    color: rgb(57, 142, 114);
}
#menu a:hover {
background-color:#706868; color:beige;
}
header h1 {background-color: rgb(218, 218, 195);}
.active {
    background-color: #706868; color:rgb(57, 142, 114);
}
 
/* happy image */

#happy-image {
    height: 600px;
    width: 100%;
    background: url("../images/young-sportswoman-using-blender-preparing-fresh-fruit-smoothie-kitchen\ \(1\).jpg") no-repeat center center;
}

/* Youtube video */

iframe {
    overflow-clip-margin: content-box !important;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    overflow: clip !important;
}

.video-container {
    width: 725px;
    height: 400px;
    margin-left: 40px;
}
