@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Teko, sans-serif;
    font-weight: 300;
    color: #2e2e2e;
}
/* headings and logo */

h1, h2 {
    margin-left: 30px;
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #141414;
}
header{
    background-color: rgb(196, 179, 131, 0.57);
}

#logo {
    float: inline-end;
    font-size: 300%;
   }

   a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
  

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 8px;
}

#menu, #logo {
    line-height: 50px;
}

#menu li {
    float: left;
    margin-right: 100px;
    display: inline;
    padding: 1em 1em;
    overflow: auto;
}

#menu a {
    text-decoration: none;
    color: rgb(57, 142, 114);
}
#menu a:hover {
background-color:#706868; color:beige;
}
header h1 {background-color: rgb(196, 179, 131, 0.57);}
.active {
    background-color: #706868; color:rgb(57, 142, 114);
}
 
/* happy image */


#happy-image {
    height: 600px;
    width: 100%;
    clear: left;
    background-size: cover;
    background: url("../images/holistic-medicine-approach-healthy-food-eating-dietary-supplements-healing-herbs-flowers-turmeric-dried-lavender-spirulina-powder-wooden-bowls-fresh-berries-omega-acid-capsules\ \(1\).jpg") no-repeat;
}
#cover-text
{
font-size: 130%;
   font-family: Teko, sans-serif;
   text-transform: uppercase;
   letter-spacing: 6px;
   width: 300px;
   height: 200px;
   padding-top: 40px;
   padding-left: 10px;
   background-color:rgba(162, 223, 225, 0.34);
   top: 200px;
   left: 500px;
position: absolute;
}
#cover-text h2 {
    text-align: left;
}

/* Youtube video */

iframe {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.video-container {
    width: 725px;
    height: 365px;
    margin-left: 40px;
}
#video {
    background-color: rgb(196, 179, 131, 0.57);
}


/* Hacks to implement */


#main-hacks {
    height: 600px;
}


#left-about {
    padding-top: 70px;
       width: 50%;
       float: left;
       left: 30px;
       text-align: left;
    }
    
#right-about{
padding-top: 70px;
   width: 50%;
   float: right;
   text-align: right;
}  

#background-picture h1 {
    font-size: 170%;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    font-size: 150%;
    margin-bottom: 50px;
    margin-left: 10px;
}

.right-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    font-size: 150%;
    clear: both;
    margin-bottom: 50px;
    margin-right: 80px;
}

#background-picture {
    background: url("../images/silhouettes-tree-man-book.jpg") no-repeat center center;
    background-size: cover;
    clear: left;
    height: 600px;
    width: 100%;
}
.right-about-heading h2 {
    font-size: 100%;
}
.left-about-heading h2 {
    font-size: 100%;
}



   /* Sign-up form */

.form-section {
    clear: left;
    background: url("../images/people-stacking-hands-together-park.jpg") no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 900px;
}
.signup-form {
    margin: 150px 10% 0 0;
    color:beige;
    background-color: rgba(162, 223, 225, 0.34);;
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}
.signup-form h2 {
    color: beige;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: beige;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid rgb(196, 179, 131, 0.57);
    border-radius: 3px;
}

.text-input:hover {
    border-color: #6bf1f1;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #6bf1f1;
    color: beige;
    display: block;
}

.join-button:hover {
    background-color: beige;
    color: #6bf1f1;
} 

 /* event times page */

 #events {
    clear: left;
    background: url("../images/full-shot-travel-concept-with-landmarks.jpg") no-repeat center center;
    height: 1200px;
   }
 
   #events div {
    margin-top: 400px;
    color: beige;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 400px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border: 2px solid beige;
    box-sizing: border-box;
    display: inline;
    font-size: 180%;
    float: left;
   }
   #events h2 {
    margin-top: 30px;
    color: beige;
   }

/* footer */

footer {
    height: 150px;
   }
   .social-networks {
    text-align: center;
 
   }
   .social-networks > li {
    display: inline;
   }
   .social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #1d1d1d;
   }

/* Adapt to smart phone screen */

@media screen and (max-width: 950px) 
{
.video-container {
width: 200px;
margin-left: 0;
}
#cover-text {
    top: 500px;
   left: 50px;
}
#left-about {
margin-left: 0;
padding-left: 0;    
}
.social-networks {
    float: left;
    columns: 2;
   }
   .social-networks > li {
    display: inline;
    float: left;
    margin: 50px 0 10px 100px;
   }
   .social-networks i {
    font-size: 80%;
    margin: 10%;
    padding: 10%;
    margin-right: 20px;
    color: #1d1d1d;
   }
   #left-about {
    padding-top: 5px;
       float: left;
    }
    
#right-about{
padding-top: 5px;
   float: right;
}  

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 15px;
    clear: both;
    font-size: 120%;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: right;
    line-height: 15px;
    font-size: 120%;
    clear: both;
    margin-bottom: 50px;

}
#menu li {
    float: left;
    margin-right: 30px;
    display: inline;
    padding: 1em 1em;
    overflow: auto;
}
  .video-container {
  width: 350px;
  height: 365px;
  margin-left: 0;
  overflow: overlay;    
}      
  iframe {
   border-width: 1px;
}


}

@media screen and (max-width: 1400px) 
{
#events div {
    margin-top: 80px;
    color: beige;
    background-color: rgba(0, 0, 0, .6);
    width: 33%;
    height: 300px;
    padding: 0;
    text-align: center;
    border: 1px solid beige;
    box-sizing: border-box;
    display: block;
    font-size: 120%;
}

   #events {
    clear: left;
    background: url("../images/full-shot-travel-concept-with-landmarks.jpg") no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 900px;
   }

   #happy-image {
    width: 100%;
    height: 600px;
    background-size: cover;
    background: url(../images/artificial-intelligence-nanobot-biohacking-concept\ \(3\).jpg)no-repeat;
   }
   #cover-text
{
   background-color:rgba(219, 185, 154, 0.80);
   float: left;
}
#cover-text h2 {
    color: rgb(57, 142, 114);
}

}
