@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Teko, sans-serif;
    font-weight: 300;
    color: #2e2e2e;
}
/* headings and logo */

h1, h2 {
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #141414;
}

#logo {
    float: inline-end;
    font-size: 300%;
   }
   a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 8px;
}

#menu, #logo {
    line-height: 50px;
}

#menu li {
    text-align: center;
    margin-right: 100px;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {background-color:#706868; color:beige;

}
